# Базовые файлы Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Виртуальное окружение
.env
.venv
env/
venv/

# Пакеты и зависимости
*.egg-info/
*.egg
.eggs/
dist/
build/

# Кэш и логи
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3

# Инструменты тестирования
.coverage
.tox/
.nox/
.pytest_cache/
coverage.xml
htmlcov/

# IDE и редакторы
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints
*.ipynb_convert

# Docker
*.pid
*.seed
*.cover

# Секреты и конфиги
*.env
.env.*
secrets.json

# Миграции (если не нужно коммитить)
migrations/

results
.DS_Store